{% extends "user/profile_base.html" %}
{% load static %}

{% block content %}
    <div class="profile-edit-container">
        <h2>افزودن کاربر جدید</h2>
        <div class="profile-edit-wrapper">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <label for="mobile">شماره همراه</label>
                <input type="text" id="mobile" name="mobile" required>

                <label for="role">نقش کاربری</label>
                <select id="role" name="role" class="form-control" style="
                font-family: 'Vazir', sans-serif;
                font-size: 16px;
                width: 107%;
                text-align: right;
                direction: rtl;
                padding: 10px 30px 10px 10px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 5px;
                appearance: none;
                background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'12\' height=\'12\' viewBox=\'0 0 12 12\'%3E%3Cpath d=\'M1 4l5 5 5-5z\' fill=\'%23999\'/%3E%3C/svg%3E');
                background-repeat: no-repeat;
                background-position: right 10px center;
                background-size: 12px;
                cursor: pointer;">
                    <option value="owner">مدیر</option>
                    <option value="support">پشتیبان</option>
                    <option value="customer" selected>مشتری</option>
                </select>

                <label for="national_id">کد ملی</label>
                <input type="text" id="national_id" name="national_id" required>

                <label for="first_name">نام</label>
                <input type="text" id="first_name" name="first_name" required>

                <label for="last_name">نام خانوادگی</label>
                <input type="text" id="last_name" name="last_name" required>

                <div class="form-checkbox-row">
                    <input type="checkbox" id="is_block" name="is_block">
                    <label for="is_block">غیرفعال کردن پیامک</label>
                </div>

                <button type="submit" style="width: 107%">ایجاد کاربر</button>
            </form>
        </div>
    </div>

    <style>
        .form-checkbox-row {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .form-checkbox-row input[type="checkbox"] {
            width: auto;
            height: 16px;
            cursor: pointer;
            margin-top: 13px;
        }

        .form-checkbox-row label {
            font-size: 16px;
            cursor: pointer;
        }

    </style>
{% endblock %}