{% extends "user/profile_base.html" %}

{% block content %}
                <section id="dashboard">
                    <h2>پیشخوان</h2>
                    <div class="dashboard-stats">
                        <div class="stat-box">
                            <h3>درآمد امروز</h3>
                            <p id="today-income">{{ total_amount }} تومان</p>
                        </div>
                        <div class="stat-box">
                            <h3>تعداد تراکنش‌ها</h3>
                            <p id="transaction-count">{{ count }}</p>
                        </div>
                    </div>
                <h3 style="margin-top: 50px">آخرین اقساط</h3>
                    {% if transactions %}

                    <table>
                        <thead>
                            <tr>
                                <th>نام و نام خانوادگی</th>
                                <th>دارایی</th>
                                <th>شماره بیمه</th>
                                <th>مبلغ</th>
                                <th>شیوه پرداخت</th>
                            </tr>
                        </thead>
                        {% for transaction in transactions %}
                            <tbody id="installments-list">
                                <tr>
                                    <td>{{ transaction.installment.insurance.insured.owner.get_full_name }}</td>
                                    <td>{{ transaction.installment.insurance.insured.name }}</td>
                                    <td>{{ transaction.installment.insurance.insurance_number }}</td>
                                    <td>{{ transaction.amount }} تومان</td>
                                    <td>{{ transaction.get_payment_type_display }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    {% else %}
                            <h4 style="text-align: center">داده‌ای موجود نیست</h4>
                    {% endif %}
                    </table>
                </section>
{% endblock %}
